* {
    padding: 0;
    margin: 0;
}

.cityPageContainer {
    padding: 3rem 5rem;
    font-family: "Plus Jakarta Sans";

    .headerSection {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid rgba(0, 0, 0, 0.10);
        padding-bottom: 3rem;

        .headings {
            h2 {
                font-size: 2rem;
                font-style: normal;
                font-weight: 700;
                line-height: 150%;
                color: #040815;
                /* 48px */
                letter-spacing: -0.96px;
            }

            span {
                font-style: normal;
                font-weight: 700;
                line-height: 150%;
                /* 60px */
                letter-spacing: -1.2px;
                font-size: 1.5rem;
                color: #0E51A0;
            }

            ;
        }

        .flags {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;

            .flag {
                width: 5rem;
                border-radius: 100%;
            }

            .flagConnector {
                width: 15rem;
            }
        }
    }


    .bodySection {
        padding-top: 2rem;

        .contents {
            display: flex;
            align-items: center;
            justify-content: space-between;

        }

        .headingText {
            color: #040815;
            font-family: "Plus Jakarta Sans";
            font-size: 2.3rem;
            font-style: normal;
            font-weight: 700;
            line-height: 150%;
            letter-spacing: -1.2px;
            display: flex;
            align-items: center;
            gap: 5px;

        }

        .headingText::before {
            background: #E31D1C;
            content: '';
            width: 6px;
            height: 100%;
            display: block;
            height: 2.2rem;

        }

        .contentText {
            color: rgba(0, 0, 0, 0.60);
            font-size: 1rem;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
            letter-spacing: -0.32px;
        }

        .contentList {
            list-style: disc;
            display: flex;
            flex-direction: column;
            gap: 0.8rem;

            li {
                margin-left: 1.5rem;
                font-size: 1rem;
                font-style: normal;
                font-weight: 500;
                line-height: 150%;
                /* 24px */
            }
        }


        .tableSection {
            .tableContainer {
                border: 1px solid #E4E7EC;
                border-radius: 0.5rem;

                .tableHeader {
                    padding: 15px 20px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    span {
                        color: #101828;

                        font-size: 1.2rem;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 28px;
                    }
                }

                .tableHeading {
                    background: #F9FAFB;
                    display: flex;
                    align-items: center;
                    padding: 12px 20px;
                    border-bottom: 1px solid #E4E7EC;
                    border-top: 1px solid #E4E7EC;
                    gap: 2rem;

                    span {
                        color: #475467;

                        font-size: 1rem;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 20px;
                        width: calc(100%/3);
                        /* 142.857% */
                    }
                }

                .tableBody {
                    .tableRow {
                        display: flex;
                        border-bottom: 1px solid var(--Gray-200, #E4E7EC);
                        padding: 8px 20px;
                        gap: 2rem;

                        .columnSpec {
                            width: calc(100%/3);
                            display: flex;
                            align-items: center;
                        }

                        .currencyDetails {
                            display: flex;
                            align-items: center;
                            gap: 10px;

                            .currencyFlag {
                                width: 2rem;
                                border-radius: 100%;
                            }

                            .currencyShort {
                                color: var(--Gray-900, #101828);

                                font-size: 0.9rem;
                                font-style: normal;
                                font-weight: 600;
                                line-height: 20px;

                            }

                            .currencyFull {
                                color: var(--Gray-600, #475467);

                                font-size: 0.8rem;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 20px;

                            }

                        }


                        .buyValue {
                            color: var(--Gray-600, #475467);

                            font-size: 1rem;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 20px;

                        }

                        .sellValue {
                            color: var(--Gray-600, #475467);

                            font-size: 1rem;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 20px;

                        }

                        .buyBtn {
                            background-color: white;
                            display: inline-flex;
                            align-items: center;
                            justify-content: center;
                            padding: 0.3rem 0.7rem;
                            font-size: 0.8rem;
                            margin-left: auto;
                            float: inline-end;
                            display: none;
                            border-radius: 1rem;
                        }

                        .sellBtn {
                            background-color: white;
                            display: inline-flex;
                            align-items: center;
                            justify-content: center;
                            padding: 0.3rem 0.7rem;
                            font-size: 0.8rem;
                            margin-left: auto;
                            float: inline-end;
                            display: none;
                            border-radius: 1rem
                        }




                    }


                    .activeTableRow {
                        background-color: #0E51A0;

                        .sellBtn {
                            display: inline-flex ;
                            color: #0E51A0;
                            font-weight: 600;
                        }

                        .buyBtn {
                            display: inline-flex ;
                            color: #0E51A0;
                            font-weight: 600;
                        }

                        .currencyShort {
                            color: white !important;

                        }

                        .currencyFull {
                            color: white !important;
                        }

                        .buyValue {
                            color: white !important;
                        }

                        .sellValue {
                            color: white !important;
                        }

                    }

                }
            }
        }

        .stepsSection {
            .stepsContainer {
                display: flex;
                gap: 1rem;
                justify-content: space-between;
                align-items: center;
            }

            .step {
                width: calc(100%/5);

                .stepHeader {
                    display: flex;
                    align-items: center;
                    justify-content: start;

                    span {
                        font-size: 3rem;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                        letter-spacing: -1.687px;
                        background: linear-gradient(180deg, #0E51A0 0%, #E31D1C 100%);
                        background-clip: text;
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        margin-right: 1rem;
                    }

                    .horizontalLine {
                        height: 2.8rem;
                        width: 11rem;
                        background: linear-gradient(270deg, rgba(227, 29, 28, 0.20) -21.87%, rgba(244, 163, 162, 0.20) 42.44%, rgba(255, 255, 255, 0.20) 126.92%);
                    }
                    .verticalLine{
                        width: 2.8rem;
                        height: 5rem;
                        background: linear-gradient(270deg, rgba(227, 29, 28, 0.20) -21.87%, rgba(244, 163, 162, 0.20) 42.44%, rgba(255, 255, 255, 0.20) 126.92%);
                        display: none;
                    }
                }

                .stepContentHeader {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    justify-content: center;
                    margin-top: 1.5rem;

                    div {
                        display: flex;
                        align-items: center;
                        justify-content: start;
                    }

                    span {
                        margin-left: -3rem;

                        font-size: 1.3rem;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                        letter-spacing: -0.6px;
                    }

                    p {
                        color: rgba(0, 0, 0, 0.40);

                        margin-left: 1.2rem;
                        font-size: 1rem;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        letter-spacing: -0.42px;
                    }
                }


            }
        }


        .locationSection {

            .locationContainer {
                display: flex;
                flex-wrap: wrap;
                row-gap: 2rem;
                column-gap: 3rem;
            }

            .lcoationRow {
                display: flex;
                column-gap: 2rem;
            }

            .location {
                font-size: 1rem;
                font-style: normal;
                font-weight: 400;
                line-height: 150%;
                letter-spacing: -0.32px;
                color: black;
                display: flex;
                border-radius: 2rem;
                padding: 0.3rem 1rem;
                cursor: pointer;
                transition: background-color 0.2s, color 0.2s;
                border: 1px solid rgba(0, 0, 0, 0.10);



                .locationBtnArrow {
                    visibility: hidden;
                    width: 0;
                    height: 0;
                    transition: width 0.2s ease, height 0.5s ease;
                }
            }

            .location:hover {
                background-color: #0E51A0;
                color: white;
                transition: background-color 0.5s, color 0.5s;

                .locationBtnArrow {
                    visibility: visible;
                    width: 1.5rem;
                    height: 1.5rem;
                }


            }
        }


        .popularCitySection {


            .popularCityContainer{
                display: grid;
                grid-template-columns: auto auto auto auto;
                justify-content: space-between;
                align-items: center;
            }
            .cityCard {
                cursor: pointer;
                border-radius: 8px;
                border: 1px solid rgba(14, 81, 160, 0.02);
                background: linear-gradient(127deg, rgba(255, 255, 255, 0.20) -3.92%, rgba(14, 81, 160, 0.20) 136.58%);
                width: 18rem;
                display: flex;
                z-index: 1;
                position: relative;
                padding: 1rem;
                justify-content: space-between;
                transition: border 0.3s ease, background 0.3s ease;
                /* Transition for border and background */

                .leftSec {
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;

                    .logoContainer {
                        width: 4rem;
                        height: 2rem;
                    }

                    .transparentLogo {
                        position: absolute;
                        width: 100%;
                    }

                    .colourLogo {
                        width: 100%;
                        position: absolute;
                        visibility: hidden;
                        opacity: 0;
                        transform: scale(0);
                        /* Shrink to 0 */
                        transition: transform 0.3s ease, opacity 0.3s ease;
                        /* Smooth transition */
                    }

                    .locName {
                        font-size: 1rem;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 150%;
                        margin-top: 0.5rem;
                        letter-spacing: -0.32px;
                    }
                }

                .rightSec {
                    display: flex;
                    align-items: end;

                    .imgSvg {
                        visibility: hidden;
                        opacity: 0;
                        transform: scale(0);
                        /* Shrink to 0 */
                        transition: transform 0.3s ease, opacity 0.3s ease;
                        /* Smooth transition */
                    }
                }

                .viewBtn {
                    color: #0E51A0;
                    font-size: 0.8rem;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 150%;
                    letter-spacing: -0.24px;
                    border-radius: 5px;
                    border-top-right-radius: 2px;
                    border-top-left-radius: 0;
                    border-bottom-right-radius: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 0.2rem 0.5rem;

                    background-color: white;
                    position: absolute;
                    top: 0;
                    right: 0;
                    z-index: 10;

                    visibility: hidden;
                    opacity: 0;
                    transform: scale(0);
                    /* Shrink to 0 */
                    transition: transform 0.3s ease, opacity 0.3s ease;
                    /* Smooth transition */
                }
            }

            /* Hover effect for cityCard */
            .cityCard:hover {
                border: 1px solid rgba(14, 81, 160, 0.02);
                /* Update border color */
                background: linear-gradient(127deg, rgba(255, 255, 255, 0.20) -3.92%, rgba(227, 29, 28, 0.20) 136.58%);
                /* Update background gradient */

                .viewBtn {
                    visibility: visible;
                    opacity: 1;
                    transform: scale(1);
                    /* Expand to full size */
                }

                .rightSec .imgSvg {
                    visibility: visible;
                    opacity: 1;
                    transform: scale(1);
                    /* Expand to full size */
                }
                .colourLogo{
                    visibility: visible;
                    opacity: 1;
                    transform: scale(1);
                }
                .transparentLogo{
                    visibility: hidden;
                    opacity: 0;
                    transform: scale(0);
                }
            }


        }



    }


    @media (max-width:940px) {
        
        .headingText{
            font-size: 1.8rem !important;
        }
        .headerSection{
            flex-direction: column;
            align-items: start;
            row-gap: 3rem;
            .flags{
                .flag{
                    width: 4rem;
                }
                .flagConnector{
                    width: 10rem;
                }
            }

        }

        .locationContainer {
            row-gap: 1rem !important;
            column-gap: 1rem !important;
        }
        .bodySection{
            .contents{
                flex-direction: column;
                align-items: start;
                row-gap: 3rem;
                
                div{
                    width: 100% !important;
                }
            }

            .tableBody{
                .currencyFlag{
                    display: none;
                }
                .buyBtn{
                    display: none !important;
                }
                .sellBtn{
                    display: none !important;
                }
            }

            .stepsSection {
                .stepsContainer {
                    flex-direction: column;
                    align-items: start;
                    row-gap: 2rem;
                }
                .step{
                    width: 100%;
                    display: flex;
                    gap: 2rem;
                    .stepHeader{
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        width: 3rem;
                        
                        svg{
                            rotate: 90deg;
                            margin-top: -0.5rem;
                        }
                        .verticalLine{
                            display: block;
                        }
                        .horizontalLine{
                            display: none;
                        }
                    }
                    span{
                        margin-right: 0 !important;
                    }
                }
                
            }

            .popularCityContainer {
                grid-template-columns: auto auto !important;
                justify-content: normal !important;
                gap: 2rem;
                .cityCard{
                    width: 100%;
                }
            }
        }
    }

    

}

@media (max-width:640px) {
    .cityPageContainer{
        padding: 3rem 2rem;
    }
}